@model BabyTracker.Models.Feeding

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Feeding</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfFeedings)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfFeedings)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeedingTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeedingTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BabyInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BabyInfo.BabyName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FeedingID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
