@model IEnumerable<BabyTracker.Models.DiaperChange>

@{
    ViewData["Title"] = "Index";
}

<h1>DiaperChanges</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumberofDiaperChanges)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BabyInfo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumberofDiaperChanges)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BabyInfo.BabyName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DiaperChangeID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DiaperChangeID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DiaperChangeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
